//====NAVBAR START===========================================
nav.nav
  //====DESKTOP NAVS=========================================
  ul.navs
    //====QUICKPOLL LOGO=====================================
    a.navbut.logo(href="/") 
      -var words = 'QUICK'.split('');
      -var i = 0;
      each word in words
        span(class="letter-"+i + " letter") #{word}
        -i += 1;
      span /POLL
    //====HAMBURGER================================================
    li.navbut.hamburger(id="hamburger-menu")
      div.bar
    if logged
      div.navbut.login(id="authlogin") Login
      //- a.navbut.login.facebook(href="/auth/facebook") Facebook
      //- a.navbut.login.google(href="/auth/google") Google
      //- a.navbut.login.github(href="/auth/github") Github
    else
      - 
        checkpage = function(p){
          if (page && page==p){
            return "activenavbut";
          }
          else return '';
        }
      a.navbut.logout(href="/auth/logout")
        li Logout
      a.navbut.mypolls(href="/user" class=checkpage('user'))
        li My Polls
      a.navbut.addpolls(href="/add" class=checkpage('add'))
        li Add Poll
//====MOBILE OVERLAY===================================================
div.overlaynav(id="overlay-nav" class= "three")
  if logged
    a.overlaybut.facebook.odd(href="/auth/facebook") LOGIN WITH FACEBOOK
    a.overlaybut.google.even(href="/auth/google") LOGIN WITH GOOGLE
    a.overlaybut.facebook.odd(href="/auth/github") LOGIN WITH GITHUB
  else
    a.overlaybut.mypolls.odd(href="/add") ADD POLL
    a.overlaybut.mypolls.even(href="/user") MY POLLS
    a.overlaybut.logout.odd(href="/auth/logout") LOGOUT
//=====OVERLAY END======================================================
//=====NAVS END=========================================================
script.
  var v=false,e=function(v){return document.getElementById(v)},$o=e('overlay-nav'),$h=e('hamburger-menu');$h.addEventListener('click',function(){if(v){$o.classList.remove('visible');v=false;this.classList.remove('animateburger');}else{$o.classList.add('visible');v=true; this.classList.add('animateburger');}});